apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
spec:
  project: default
  
  # Multiple sources pattern: Remote Chart + Local Values
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 65.5.0 # Use a pinned version for stability
      helm:
        valueFiles:
          - $values/helm-values/monitoring-values.yaml

    - repoURL: https://github.com/bulianjolloch/FinalProjectDataEngineering.git
      targetRevision: main
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true # Required for CRDs typically