# postgres-values.yaml
auth:
  existingSecret: postgres-admin
  database: ds_db
  username: mlops
  secretKeys:
    userPasswordKey: postgres-password

primary:
  persistence:
    enabled: true
    size: 10Gi
    storageClass: local-path

service:
  type: ClusterIP
  ports:
    postgresql: 5432

# ...existing code...
metrics:
  enabled: true       # <--- Change to true
  service:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "9187"
  serviceMonitor:
    enabled: true     # <--- Create the ServiceMonitor CRD
    namespace: data-storage
    interval: 30s
    labels:
      release: monitoring # Often required for Prometheus Operator to find it